<% set_meta_tags title: '散歩のススメ' %>
<div class="container mx-auto py-10 px-4 prose">
  <div class="text-sm breadcrumbs">
    <ul>
      <li><%= link_to 'ホーム', root_path %></li> 
      <li><p>散歩のススメ</p></li>
    </ul>
  </div>
  <h1>散歩のススメ</h1>
  
  <h2>散歩の嬉しい効果とは？</h2>
  <h3>生活リズムが整う</h3>
  <%= image_tag 'static_pages/wake_up'%>
  <p>　散歩をすることで生活リズムが整うと言われています。特に、朝の散歩で日光を浴びると、体内時計をリセットする働きを持つセロトニンというホルモンの活性化が期待できます。</p>
  <p>　また、セロトニンは夜に睡眠を促すメラトニンを作るため、質の良い睡眠にもつながります。散歩はあなたの生活に規則正しい生活リズムをもたらすでしょう。</p>
  
  <h3>気分転換ができる</h3>
  <%= image_tag 'static_pages/happy'%>
  <p>　ゆっくりと風景を眺めながら散歩をすれば気分転換になります。風を感じながらリラックスして歩くことで脳がリフレッシュするため、日頃感じているストレスの解消にもつながります。</p>
  <p>　また、前述のセロトニンは「幸せホルモン」とも呼ばれ、精神の安定や安心感をもたらすと言われています。散歩によってセロトニンの分泌が促されると、ポジティブな気持ちになるでしょう。</p>
    
  <h3>ダイエットや美容効果が期待できる</h3>
  <%= image_tag 'static_pages/body_weight'%>
  <p>　散歩でゆっくり歩いても、継続して続けることによってダイエット効果や美容効果も期待できます。歩き方を意識することで、筋力強化や基礎代謝アップにもつながり、健康的な体を維持できるでしょう。</p>
  <p>　また、基礎代謝や血流が良くなると新陳代謝が高まり、足や顔のむくみの軽減、肌質の改善が期待できます。</p>
  
  <hr>

  <h2>効果的な散歩のために</h2>
  <h3>散歩の準備</h3>
  <%= image_tag 'static_pages/warm_up'%>
  <p>　散歩をすると体が温まり汗をかきやすくなるため、汗冷えを軽減する必要があります。通気性や吸汗速乾性に優れた服装を選びましょう。天候や気温によっては保温性やはっ水性などにも注目して、適切なウェアを準備できると良いですね。</p>
  <p>　また、散歩をする前にはしっかりとストレッチなどの準備運動をしましょう。アキレス腱伸ばしやかかと上げ、肩甲骨回しなどをして体を慣らすことが大切です。</p>
  
  <h3>散歩する時間帯</h3>
  <%= image_tag 'static_pages/clock'%>
  <p>　散歩の時間帯によって、期待できる効果が変わります。朝から散歩することで午前中の基礎代謝を引き上げることができます。昼間は体を動かしやすい時間帯なので、散歩することで血行の促進、気分転換が期待できます。</p>
  <p>　夕方・夜に散歩すると、体を適度に疲れさせることで眠りにつきやすくなるため、睡眠不足解消の効果も期待できます。ただし夜の散歩では、反射板を身につけたり比較的明るい場所を歩くなど、安全面には十分に注意してくださいね。</p>
  
  <h3>散歩をする時間の長さ</h3>
  <p>　散歩は30分程度を目安に行うのがおすすめです。一般的に20分以上歩くことで有酸素運動となり、脂肪が燃焼しやすくなると言われています。そのため、散歩を始めてから20分、できれば30分以上を目標に歩くようにすると良いでしょう。</p>
  <p>　ただし、無理をして歩くと体に負担がかかったり、三日坊主になってしまったりする場合もあります。散歩は短い時間でも十分に良い効果があると言われていますので、無理をせず、その日の体調に合わせて適度に行いましょう。</p>
  
  <hr>
  
  <h2>散歩の楽しみ方</h2>
  <h3>お気に入りのシューズを履こう</h3>
  <%= image_tag 'static_pages/wear'%>
  <p>　シューズをお気に入りのブランドで選んだり、着心地・履き心地の良いものを着用したりするだけでも散歩は楽しくなるでしょう。</p>
  <p>　靴によっては足に負担がかかることがあるため、膝や股関節などの下半身の負担を減らしてくれるウォーキングシューズを準備できると良いですね。</p>
  
  <h3>スマホアプリを使って記録しよう</h3>
  <%= image_tag 'static_pages/smart_phone'%>
  <p>　最近ではスマホやアプリ、スマートウォッチなどで歩数を計測したり、消費カロリーを計算したりすることができます。散歩を記録することは、モチベーションアップにつながるため、散歩を継続しやすくなるでしょう。</p>
  
  <h3>写真を撮ろう</h3>
  <%= image_tag 'static_pages/take_a_picture'%>
  <p>　歩いていると美しい景色や印象的な光景が目に留まることがあります。カメラやスマートフォンで撮影すればより散歩を楽しめるでしょう。</p>
  <ul>
    <li>朝焼けや夕焼け、雲などの空の表情</li>
    <li>ふと目に入った町並みや風景</li>
    <li>道端で可愛らしく咲いている草花</li>
    <li>散歩の行先や途中で食べるおやつ</li>
  </ul>
  <p>など、興味を惹くものがあればどんどん撮影してみてくださいね。</p>

  <h3>初めての場所に行ってみよう</h3>
  <p>　いつも同じところを散歩して、少しマンネリ化していませんか？「散歩くじ」は散歩の行先と目的をランダムに提案するサービスです。あなたも「散歩くじ」を引いて新しい場所まで散歩しましょう！</p>
  <%= link_to '散歩くじを引く', new_lot_path, class: "btn btn-primary btn-block mb-5"%>
  <% if !current_user %>
    <%= link_to 'ユーザー登録する', signup_path, class: "btn btn-info btn-block mb-5"%>
  <% end %>
</div>