<% set_meta_tags title: 'アクティビティ管理' %>
<div class="container mx-auto px-4 py-10 max-w-lg">
  <p class="text-2xl font-bold mb-5">アクティビティ管理</p>

  <p class="text-lg font-bold mb-5">アクティビティを作る</p>
  <%= link_to 'アクティビティを作る', new_mypage_activity_path, class: 'btn btn-primary btn-block mb-5' %>

  <p class="text-lg font-bold mb-5">作成したアクティビティ</p>

  <%= render 'search_form' %>

  <% if @activities.present? %>
    <!--pagination-->
    <div class="flex justify-center mb-5">
      <%== pagy_nav(@pagy) %>
    </div>
    
    <% @activities.each do |activity| %>
      <%= link_to mypage_activity_path(activity) do %>
        <!-- lot card -->
        <div class="card w-full bg-base-100 shadow-xl mb-5 mx-auto">
          <div class="card-body">
            <p class="card-title"><%= activity.content %></p>
            <div class="text-right">
              <% activity.location_types.each do |location_type| %>
                <span class="badge badge-outline badge-md"><%= location_type.name %></span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <!--pagination-->
    <div class="flex justify-center mb-5">
      <%== pagy_nav(@pagy) %>
    </div>
  <% else %>
    <p>アクティビティはありません</p>
  <% end %>
</div>


