<footer class="footer items-center p-4 bg-neutral text-neutral-content">
  <div class="items-center grid-flow-col">
    <%= image_tag 'logo.png' %>
    <p class="text-xl font-bold">散歩くじ</p>
    <p>Copyright © 2022 - All right reserved</p>
  </div> 
  <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <%= link_to '散歩のススメ', tips_to_enjoy_path, class: "link link-hover" %>
    <%= link_to '使い方', about_path, class: "link link-hover" %>
    <%= link_to '利用規約', rules_path, class: "link link-hover" %>
    <%= link_to 'プライバシーポリシー', privacy_path, class: "link link-hover" %>
  </div>
</footer>
