<!-- footer for Desktop-->
<footer class="footer items-center p-4 bg-neutral text-neutral-content hidden lg:grid">
  <!-- footer logo-->
  <div class="items-center grid-flow-col">
    <%= image_tag 'logo.png' %>
    <p class="text-xl font-bold">散歩くじ</p>
    <p>Copyright © 2022 - All right reserved</p>
  </div>
  <!-- footer content list-->
  <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <%= link_to '散歩のススメ', tips_to_enjoy_path, class: 'link link-hover' %>
    <%= link_to '使い方', about_path, class: 'link link-hover' %>
    <%= link_to '利用規約', rules_path, class: 'link link-hover' %>
    <%= link_to 'プライバシーポリシー', privacy_path, class: 'link link-hover' %>
  </div>
</footer>
<!-- Bottom navigation for smart phone -->
<div class="lg:hidden">
  <div class="btm-nav">
    <%= link_to root_path do %>
      <%= render 'shared/svg_icons/home' %>
      <p class='text-xs font-thin'>ホーム</p>
    <% end %>
    <%= link_to new_lot_path do %>
      <%= render 'shared/svg_icons/foot' %>
      <p class='text-xs font-thin'>くじ引き</p>
    <% end %>
    <%= link_to about_path do %>
      <%= render 'shared/svg_icons/info' %>
      <p class='text-xs font-thin'>使い方</p>
    <% end %>
    <!-- link for mypage -->
    <% if logged_in? %>
      <%= link_to mypage_account_path do %>
        <%= render 'shared/svg_icons/user' %>
        <p class='text-xs font-thin'>ユーザー</p>
      <% end %>
    <% end %>
  </div>
</div>
