<!-- Navbar -->
<div class="navbar bg-base-100 fixed top-0">
  <!-- left side -->
  <div class="navbar-start">
    <!-- Logo -->
    <div class="flex-1">
      <%= link_to root_path, class: 'btn btn-ghost normal-case text-xl' do %>
        <%= image_tag 'brand-logo.png', size: '35x35' %>
        <span>散歩くじ</span>
      <% end %>
    </div>
  </div>
  <!-- right side -->
  <div class="navbar-end">
    <!-- New lot button -->
    <div class="flex-none">
      <div class="flex-shrink-0">
        <%= link_to new_lot_path, class: 'btn btn-primary btn-sm' do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shoe" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M4 6h5.426a1 1 0 0 1 .863 .496l1.064 1.823a3 3 0 0 0 1.896 1.407l4.677 1.114a4 4 0 0 1 3.074 3.89v2.27a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1v-10a1 1 0 0 1 1 -1z"></path>
            <path d="M14 13l1 -2"></path>
            <path d="M8 18v-1a4 4 0 0 0 -4 -4h-1"></path>
            <path d="M10 12l1.5 -3"></path>
          </svg>
          <span>くじを引く</span>
        <% end %>
      </div>
    </div>
    <!-- about app for desktop -->
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost rounded-btn hidden lg:flex">散歩くじについて</label>
          <ul tabindex="0" class="menu dropdown-content p-2 shadow bg-base-100 rounded-box w-52 mt-4">
            <li><%= link_to '使い方', about_path %></li>
            <li><%= link_to '散歩のススメ', tips_to_enjoy_path %></li>
            <li><%= link_to '利用規約', rules_path %></li>
            <li><%= link_to 'プライバシーポリシー', privacy_path %></li>
            <li><%= link_to 'お問い合わせ', 'https://forms.gle/JKh3j2EQ2hK8dioh8' %></li>
          </ul>
        </div>

      <!-- for unless login User -->
      <% unless logged_in? %>
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost rounded-btn hidden lg:flex">ユーザー</label>
          <ul tabindex="0" class="menu dropdown-content p-2 shadow bg-base-100 rounded-box w-52 mt-4">
            <li><%= link_to 'ユーザー登録', signup_path %></li>
            <li><%= link_to 'ログイン', login_path %></li>
          </ul>
        </div>
      <% end %>
    <!-- Notification Icon -->
    <% if logged_in? %>
      <%= render 'shared/notifications', user_notifications: current_user.user_notifications.where(read: false).includes(:notification).limit(3) %>
    <% end %>
    <!-- Dropdown menu for smart phone -->
    <% if logged_in? %>
      <!-- for login User -->
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <div class="avatar">
            <div class="w-11 rounded-full">
              <%= image_tag current_user.avatar %>
            </div>
          </div>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li><%= link_to 'マイページ', mypage_account_path %></li>
          <li><%= link_to 'アクティビティ管理', mypage_activities_path %></li>
          <li class="lg:hidden"><%= link_to '使い方', about_path %></li>
          <li class="lg:hidden"><%= link_to '散歩のススメ', tips_to_enjoy_path %></li>
          <li><%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete, turbo_confirm: 'ログアウトしますか？' } %></li>
          <li class="lg:hidden"><%= link_to '利用規約', rules_path %></li>
          <li class="lg:hidden"><%= link_to 'プライバシーポリシー', privacy_path %></li>
          <li class="lg:hidden"><%= link_to 'お問い合わせ', 'https://forms.gle/JKh3j2EQ2hK8dioh8' %></li>
        </ul>
      </div>
    <% else %>
      <!-- for unless login user -->
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <line x1="4" y1="6" x2="20" y2="6"></line>
            <line x1="4" y1="12" x2="20" y2="12"></line>
            <line x1="4" y1="18" x2="20" y2="18"></line>
          </svg>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li><%= link_to 'ユーザー登録', signup_path %></li>
          <li><%= link_to 'ログイン', login_path %></li>
          <li><%= link_to '使い方', about_path %></li>
          <li><%= link_to '散歩のススメ', tips_to_enjoy_path %></li>
          <li class="lg:hidden"><%= link_to '利用規約', rules_path %></li>
          <li class="lg:hidden"><%= link_to 'プライバシーポリシー', privacy_path %></li>
          <li class="lg:hidden"><%= link_to 'お問い合わせ', 'https://forms.gle/JKh3j2EQ2hK8dioh8' %></li>
        </ul>
      </div>
    <% end %>
    <!-- Dropdown -->
  </div>
</div>
<!-- Navbar -->
