<!-- Navbar -->
<div class="navbar bg-base-100 fixed top-0 relative z-40", id="header">
  <!-- left side -->
  <div class="navbar-start">
    <!-- Logo -->
    <div class="flex-1">
      <%= link_to root_path, class: 'btn btn-ghost normal-case text-xl' do %>
        <%= image_tag 'brand-logo.png', size: '35x35' %>
        <span>散歩くじ</span>
      <% end %>
    </div>
  </div>
  <!-- right side -->
  <div class="navbar-end">
    <!-- New lot button -->
    <div class="flex-none">
      <div class="flex-shrink-0">
        <%= link_to new_lot_path, class: 'btn btn-primary btn-sm' do %>
          <%= render 'shared/svg_icons/foot' %>
          <span>くじを引く</span>
        <% end %>
      </div>
    </div>
    <!-- about app for desktop -->
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost rounded-btn hidden lg:flex">散歩くじについて</label>
          <ul tabindex="0" class="menu dropdown-content p-2 shadow bg-base-100 rounded-box w-52 mt-4">
            <li><%= link_to '使い方', about_path %></li>
            <li><%= link_to '散歩のススメ', tips_to_enjoy_path %></li>
            <li><%= link_to '利用規約', rules_path %></li>
            <li><%= link_to 'プライバシーポリシー', privacy_path %></li>
            <li><%= link_to 'お問い合わせ', 'https://forms.gle/JKh3j2EQ2hK8dioh8' %></li>
          </ul>
        </div>

      <!-- for unless login User -->
      <% unless logged_in? %>
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost rounded-btn hidden lg:flex">
            <%= render 'shared/svg_icons/user' %>
            <span>ユーザー</span>
          </label>
          <ul tabindex="0" class="menu dropdown-content p-2 shadow bg-base-100 rounded-box w-52 mt-4">
            <li><%= link_to 'ユーザー登録', signup_path %></li>
            <li><%= link_to 'ログイン', login_path %></li>
          </ul>
        </div>
      <% end %>
    <!-- Notification Icon -->
    <% if logged_in? %>
      <%= render 'shared/notifications', user_notifications: current_user.user_notifications.where(read: false).includes(:notification).limit(3) %>
    <% end %>
    <!-- Dropdown menu for smart phone -->
    <% if logged_in? %>
      <!-- for login User -->
      <div class="dropdown dropdown-end" id="header-avatar-dropdown">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <div class="avatar">
            <div class="w-11 rounded-full">
              <%= image_tag current_user.avatar %>
            </div>
          </div>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52 z-40">
          <li><%= link_to 'マイページ', mypage_account_path %></li>
          <li><%= link_to 'アクティビティ管理', mypage_activities_path %></li>
          <li class="lg:hidden z-40"><%= link_to '使い方', about_path %></li>
          <li class="lg:hidden z-40"><%= link_to '散歩のススメ', tips_to_enjoy_path %></li>
          <li><%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete, turbo_confirm: 'ログアウトしますか？' } %></li>
          <li class="lg:hidden z-40"><%= link_to '利用規約', rules_path %></li>
          <li class="lg:hidden z-40"><%= link_to 'プライバシーポリシー', privacy_path %></li>
          <li class="lg:hidden z-40"><%= link_to 'お問い合わせ', 'https://forms.gle/JKh3j2EQ2hK8dioh8' %></li>
        </ul>
      </div>
    <% else %>
      <!-- for unless login user -->
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <%= render 'shared/svg_icons/humburger_menu' %>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li><%= link_to 'ユーザー登録', signup_path %></li>
          <li><%= link_to 'ログイン', login_path %></li>
          <li><%= link_to '使い方', about_path %></li>
          <li><%= link_to '散歩のススメ', tips_to_enjoy_path %></li>
          <li class="lg:hidden"><%= link_to '利用規約', rules_path %></li>
          <li class="lg:hidden"><%= link_to 'プライバシーポリシー', privacy_path %></li>
          <li class="lg:hidden"><%= link_to 'お問い合わせ', 'https://forms.gle/JKh3j2EQ2hK8dioh8' %></li>
        </ul>
      </div>
    <% end %>
    <!-- Dropdown -->
  </div>
</div>
<!-- Navbar -->
