<!-- Navbar -->
<div class="navbar bg-base-100 fixed top-0">
  <!-- left side -->
  <div class="navbar-start">
    <!-- Logo -->
    <div class="flex-1">
      <%= link_to root_path, class: 'btn btn-ghost normal-case text-xl' do %>
        <%= image_tag 'brand-logo.png' %>
        <span>散歩くじ</span>
      <% end %>
    </div>
  </div>
  <!-- right side -->
  <div class="navbar-end">
    <!-- New lot button -->
    <div class="flex-none">
      <div class="flex-shrink-0">
        <%= link_to new_lot_path, class: 'btn btn-primary btn-sm' do %>
          <svg class="ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
          <span>くじを引く</span>
        <% end %>
      </div>
    </div>
    <!-- menu for desktop -->
    <ul class="menu menu-horizontal p-0 hidden lg:flex">
      <li tabindex="0">
        <a>
          散歩くじについて
          <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" /></svg>
        </a>
        <ul class="p-2 bg-base-100">
          <li><%= link_to '使い方', about_path %></li>
          <li><%= link_to '散歩のススメ', tips_to_enjoy_path %></li>
        </ul>
      </li>
      <!-- for login User -->
      <% if logged_in? %>
        <li tabindex="0" id='header-avatar-dropdown'>
          <a>
            ユーザー
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" /></svg>
          </a>
          <ul class="p-2 bg-base-100">
            <li><%= link_to 'マイページ', mypage_account_path %></li>
            <li><%= link_to 'アクティビティ管理', mypage_activities_path %></li>
            <li><%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete, turbo_confirm: 'ログアウトしますか？' } %></li>
          </ul>
        </li>
      <!-- for unless login User -->
      <% else %>
        <li><%= link_to 'ユーザー登録', signup_path %></li>
        <li><%= link_to 'ログイン', login_path %></li>
      <% end %>
    </ul>
    <!-- Notification Icon -->
    <%= render 'shared/notifications', user_notifications: current_user.user_notifications.where(read: false).includes(:notification).limit(3) %>
    <!-- Dropdown menu for smart phone -->
    <% if logged_in? %>
      <!-- for login User -->
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle lg:hidden">
          <div class="avatar">
            <div class="w-11 rounded-full">
              <%= image_tag current_user.avatar %>
            </div>
          </div>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li><%= link_to 'マイページ', mypage_account_path %></li>
          <li><%= link_to 'アクティビティ管理', mypage_activities_path %></li>
          <li><%= link_to '使い方', about_path %></li>
          <li><%= link_to '散歩のススメ', tips_to_enjoy_path %></li>
          <li><%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete, turbo_confirm: 'ログアウトしますか？' } %></li>
        </ul>
      </div>
    <% else %>
      <!-- for unless login user -->
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li><%= link_to 'ユーザー登録', signup_path %></li>
          <li><%= link_to 'ログイン', login_path %></li>
          <li><%= link_to '使い方', about_path %></li>
          <li><%= link_to '散歩のススメ', tips_to_enjoy_path %></li>
        </ul>
      </div>
    <% end %>
    <!-- Dropdown -->
  </div>
</div>
<!-- Navbar -->
