<% set_meta_tags title: 'マイページ' %>
<div class="container mx-auto px-4 py-10 max-w-lg">
  <p class="text-2xl font-bold mb-5">マイページ</p>
  <div class="mb-5">
    <%= render 'user' %>
  </div>
  <p class="text-lg font-bold mb-5">アクティビティを作る</p>
  <%= link_to 'アクティビティを作る', new_mypage_activity_path, class: 'btn btn-primary btn-block mb-5' %>

  <p class="text-lg font-bold mb-5">散歩くじの履歴</p>
  
  <%= render 'search_form' %>

  <% if @lots.present? %>
    <% @lots.each do |lot| %>
      <%= link_to lot_path(lot) do %>
        <!-- lot card -->
        <div class="card w-full bg-base-100 shadow-xl mb-5 mx-auto">
          <div class="card-body">
            <p class="card-title"><%= lot.destination_name %>で「<%= lot.activity.content %>」にチャレンジする</p>
            <div class="text-right">
              <p><%= time_ago_in_words(lot.created_at) %>前</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>くじはありません</p>
  <% end %>
</div>
