<% set_meta_tags title: 'マイページ' %>
<div class="container mx-auto px-4 py-10 max-w-lg">
  <p class="text-2xl font-bold mb-5">マイページ</p>
  <div class="mb-5">
    <%= render 'user' %>
  </div>
  <p class="text-lg font-bold mb-5">アクティビティ管理</p>
  <%= link_to 'アクティビティ管理画面', mypage_activities_path, class: 'btn btn-primary btn-block mb-5' %>

  <p class="text-lg font-bold mb-5">散歩くじの履歴</p>

  <%= render 'search_form' %>

  <% if @lots.present? %>
    <!--pagination-->
    <div class="flex justify-center mb-5">
      <%== pagy_nav(@pagy) %>
    </div>
    <!--Card-->
    <%= render partial: 'lot', collection: @user.lots, as: :lot %>

    <!--pagination-->
    <div class="flex justify-center mb-5">
      <%== pagy_nav(@pagy) %>
    </div>
  <% else %>
    <p>くじはありません</p>
  <% end %>
</div>
