<%= form_with model: lot, data: { controller: 'set-start-point' } do |f| %>
  <%= render 'shared/error_messages', object: lot %>
  <div class="form-control mb-5">
    <%= f.label :location_type %>
    <%= f.collection_select :location_type_id, LocationType.all, :id, :name, { prompt: "場所のタイプを選択してください" }, { class: 'select select-bordered w-full mb-5'} %>
  </div>
  <div class="form-control">
    <%= f.label :start_point_name %>
    <%= f.text_field :start_point_name, class: 'input input-bordered input-primary w-full mb-5' %>
  </div>
  <div class="form-control">
    <%= f.label :start_point_address %>
    <%= f.text_field :start_point_address, class: 'input input-bordered input-primary w-full mb-5' %>
  </div>
   <div class="form-control">
    <%= f.label :start_point_latitude %>
    <%= f.text_field :start_point_latitude, class: 'input input-bordered input-primary w-full mb-5', readonly: true, data: { set_start_point_target: 'latitude' } %>
  </div>
  <div class="form-control">
    <%= f.label :start_point_longitude %>
    <%= f.text_field :start_point_longitude, class: 'input input-bordered input-primary w-full mb-5', readonly: true, data: { set_start_point_target: 'longitude' } %>
  </div>
  <p>地図をクリックしてマーカーを立ててください</p>
  <div data-set-start-point-target='map' class='h-[500px] mb-5' id="map"></div>

  <div>
    <%= f.submit class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
