<div class="container mx-auto px-4 py-10 prose">
  <h2>散歩くじの結果</h2>
  
  <div class="card bg-base-100 shadow-xl">
    <figure><%= image_tag "https://maps.googleapis.com/maps/api/place/photo?maxwidth=600&photo_reference=#{@lot.photo_url}&key=#{Rails.application.credentials.google_map_api_key}" %></figure>
    <div class="m-0">
      <%= image_tag "google_on_white.png" %>
    </div>
    <div class="card-body">
      <h2 class="card-title">
       <%= @lot.destination_name %>
      </h2>
      <p><%= @lot.destination_address %></p>
      <div class="card-actions justify-end">
        <div class="badge badge-lg badge-outline"><%= @lot.location_type.name %></div> 
      </div>
    </div>
  </div>

  <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box mb-5">
    <div class="collapse-title text-xl font-medium">
      くじの結果は・・・？チャレンジしてみよう！
    </div>
    <div class="collapse-content">
      <p><%= @lot.activity.content %></p>
    </div>
  </div>
  <div
    data-controller="show-map"
    data-show-map-destinationlatitude-value="<%= @lot.destination_latitude %>"
    data-show-map-destinationlongitude-value="<%= @lot.destination_longitude %>"
    data-show-map-startpointlatitude-value="<%= @lot.start_point_latitude %>"
    data-show-map-startpointlongitude-value="<%= @lot.start_point_longitude %>"
    class="h-[400px]">
  </div>
  <%# リンク類を貼る %>
  <hr>
  <%# 寄り道スポットを載せる %>
  <div class="flex-shrink-0">
      <%= link_to new_lot_path, class: 'btn btn-primary btn-sm' do %>
        <svg class="ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
        </svg>
        <span>もう一度くじを引く</span>
      <% end %>
    </div>
</div>
