<% set_meta_tags title: 'くじの結果' %>
<div class="container mx-auto px-4 py-10 max-w-lg">
  <p class="text-2xl font-bold mb-5">散歩くじの結果</p>

  <!-- Card -->
  <p class="text-lg font-bold label">散歩の行き先</p>
  <%= link_to "https://www.google.com/maps/search/?api=1&query=#{@lot.destination_name}&query_place_id=#{@lot.destination_place_id}", target: '_blank', rel: 'noopener noreferrer' do %>
    <div class="card bg-base-200 shadow-xl mb-5">
      <!--Place photo-->
      <% if @lot.photo_url.nil? %>
        <%= image_tag 'no_image' %>
      <% else %>
        <figure><%= image_tag "https://maps.googleapis.com/maps/api/place/photo?maxwidth=600&photo_reference=#{@lot.photo_url}&key=#{Rails.application.credentials.google_map_api_key}" %></figure>
        <div class="flex justify-end items-center p-1">
          <span class="text-xs font-light">Powered by</span>
          <%= image_tag 'google_on_white.png', size: '60x60' %>
        </div>
      <% end %>
      <div class="card-body">
        <!--Destination-->
        <div class="mx-3 grid grid-cols-3">
          <div class="col-span-2">
            <h2 class="card-title"><%= @lot.destination_name %></h2>
            <div class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="15" height="15" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="12" cy="11" r="3"></circle>
                <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path>
              </svg>
              <p class="prose text-gray-400 text-sm"><%= @lot.destination_address %></p>
            </div>
          </div>
          <div class="text-right">
            <p class="mt-3">約<%= @lot.time_required %></p>
          </div>
        </div>
        <!--LocationType-->
        <div class="card-actions justify-end">
          <div class="badge badge-lg badge-outline"><%= @lot.location_type.name %></div>
        </div>
      </div>
    </div>
  <% end %>

  <!--Activity-->
  <p class="text-lg font-bold label">アクティビティにチャレンジしよう!!</p>
  <div class="card w-96 bg-base-200 shadow-xl mb-5">
    <div class="card-body">
      <h2 class="card-title"><%= @lot.activity.content %></h2>
    </div>
  </div>
  
  <!-- GoogleMap -->
  <div
    data-controller="show-map"
    data-show-map-destinationlatitude-value="<%= @lot.destination_latitude %>"
    data-show-map-destinationlongitude-value="<%= @lot.destination_longitude %>"
    data-show-map-startpointlatitude-value="<%= @lot.start_point_latitude %>"
    data-show-map-startpointlongitude-value="<%= @lot.start_point_longitude %>"
    class="h-[400px]">
  </div>

  <!-- GoogleMapで開くボタン -->
  <p class="text-lg font-bold label">ルートを確認する</p>
  <div class="flex-shrink-0 mb-5">
    <%= link_to "https://www.google.com/maps/dir/?api=1&origin=#{@lot.start_point_latitude},#{@lot.start_point_longitude}&destination=#{@lot.destination_latitude},#{@lot.destination_longitude}&travelmode=walking", class: 'btn btn-info btn-block', target: '_blank', rel: 'noopener noreferrer' do %>
      <%= render 'shared/svg_icons/google_map' %>
      <span class="normal-case">GoogleMapでひらく</span>
    <% end %>
  </div>

  <hr>

  <% if @other_places.present? %>
    <!-- ここに寄り道スポットを載せる -->
    <p class="text-lg font-bold label">寄り道してみよう</p>
    <!-- OtherPlace Card -->
    <%= render partial: 'other_place', collection: @other_places, as: :other_place %>
  <% end %>
  <hr>

  <!-- SNSシェアボタン -->
  <p class="text-lg font-bold label">SNSでシェアする</p>
  <div class="flex flex-row mb-3 mx-1">
    <div class="basis-1/2">
      <% twitter_share_url = "https://twitter.com/intent/tweet?text=#{@lot.destination_name}で%E3%80%8C#{@lot.activity.content}%E3%80%8Dにチャレンジします!!%0D%0A&hashtags=散歩くじ,散歩,ウォーキング,散歩好きな人と繋がりたい&url=https://www.walking-lot.com/lots/#{@lot.id}%0D%0A" %>
      <%= link_to twitter_share_url, class: 'btn btn-block bg-twitter border-twitter hover:bg-twitter-hover hover:border-twitter-hover', target: '_blank', rel: 'noopener noreferrer' do %>
        <%= render 'shared/svg_icons/twitter' %>
        <span class="normal-case" style="color: white;">Twitter</span>
      <% end %>
    </div>

    <div class="basis-1/2 mb-3 mx-1">
      <%= link_to "https://social-plugins.line.me/lineit/share?url=https://www.walking-lot.com/lots/#{@lot.id}", class: 'btn btn-block bg-line border-line hover:bg-line-hover hover:border-line-hover', target: '_blank', rel: 'noopener noreferrer' do %>
        <%= render 'shared/svg_icons/line' %>
        <span style="color: white;" class="px-2">LINE</span>
      <% end %>
    </div>
  </div>

  <hr>

  <!-- 再度くじを引く -->
  <p class="text-lg font-bold label">別の場所に散歩する</p></p>
  <div class="sm:pb-12">
    <%= link_to new_lot_path, class: 'btn btn-primary btn-block mb-5' do %>
      <%= render 'shared/svg_icons/foot' %>
      <span>もう一度くじを引く</span>
    <% end %>
  </div>

  <% unless logged_in? %>
    <hr>
    <p class="text-lg font-bold label">ユーザー登録</p></p>
    <p class="mb-5">ユーザー登録をすると、くじの履歴管理とアクティビティの作成ができます。</p>

    <div class="pb-12">
      <%= link_to 'ユーザー登録する', signup_path, class: 'btn btn-info btn-block mb-5' %>
    </div>
  <% end %>
</div>
