<% set_meta_tags title: 'くじの結果' %>
<div class="container mx-auto px-4 py-10 prose">
  <h2>散歩くじの結果</h2>

  <div class="card bg-base-100 shadow-xl">
    <figure><%= image_tag "https://maps.googleapis.com/maps/api/place/photo?maxwidth=600&photo_reference=#{@lot.photo_url}&key=#{Rails.application.credentials.google_map_api_key}" %></figure>
    <div class="m-0">
      <%= image_tag 'google_on_white.png' %>
    </div>
    <div class="card-body">
      <h2 class="card-title">
       <%= @lot.destination_name %>
      </h2>
      <p><%= @lot.destination_address %></p>
      <div class="card-actions justify-end">
        <div class="badge badge-lg badge-outline"><%= @lot.location_type.name %></div>
      </div>
    </div>
  </div>

  <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box mb-5">
    <div class="collapse-title text-xl font-medium">
      くじの結果は・・・？チャレンジしてみよう！
    </div>
    <div class="collapse-content">
      <p><%= @lot.activity.content %></p>
    </div>
  </div>
  <div
    data-controller="show-map"
    data-show-map-destinationlatitude-value="<%= @lot.destination_latitude %>"
    data-show-map-destinationlongitude-value="<%= @lot.destination_longitude %>"
    data-show-map-startpointlatitude-value="<%= @lot.start_point_latitude %>"
    data-show-map-startpointlongitude-value="<%= @lot.start_point_longitude %>"
    class="h-[400px]">
  </div>
  <hr>

  <div class="flex-shrink-0">
    <%= link_to "https://www.google.com/maps/dir/?api=1&origin=#{@lot.start_point_latitude},#{@lot.start_point_longitude}&destination=#{@lot.destination_latitude},#{@lot.destination_longitude}&travelmode=walking", class: 'btn btn-primary btn-sm', target: '_blank', rel: 'noopener noreferrer' do %>
      <svg class="ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
      </svg>
      <span>GoogleMapでひらく</span>
    <% end %>
  </div>

  <div class="flex-shrink-0">
    <%= link_to "https://twitter.com/intent/tweet?text=#{@lot.destination_name}で%E3%80%8C#{@lot.activity.content}%E3%80%8Dにチャレンジします!!%0D%0A&hashtags=散歩くじ,散歩,ウォーキング,散歩好きな人と繋がりたい&url=https://walking-lot.com/lots/#{@lot.id}%0D%0A", class: 'btn btn-primary btn-sm', target: '_blank', rel: 'noopener noreferrer' do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
        <path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path>
      </svg>
      <span>Twitterでシェアする</span>
    <% end %>
  </div>

  <div class="flex-shrink-0">
    <%= link_to "https://social-plugins.line.me/lineit/share?url=https://walking-lot.com/lots/#{@lot.id}", class: 'btn btn-success btn-active btn-sm', target: '_blank', rel: 'noopener noreferrer' do %>
      <svg class="ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
      </svg>
      <span>LINEで送る</span>
    <% end %>
  </div>

  <hr>
  <%# 寄り道スポットを載せる %>
  <div class="flex-shrink-0">
      <%= link_to new_lot_path, class: 'btn btn-primary btn-sm' do %>
        <svg class="ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
        </svg>
        <span>もう一度くじを引く</span>
      <% end %>
    </div>
</div>
